@charset "UTF-8";

   

   * {

      scroll-behavior: smooth;
      margin: 0;
      padding: 0;



   }

   body {

      overflow-x: hidden;

   }


 
   .popup {

      /*display: none;*/
      background: #3868a8;
      width: 100%;
      height: 120px;
      transition: 0.4s;

   }

   #popup_notice {

      margin: 0 auto;
      width: 50%;
      cursor: pointer;
      text-align: center;
      padding: 20px;
      height: 90px;
      position: relative;

   }


   #pop_text_01 {

      font-size: 1.3em;
      color: #fff;

   }

   #pop_text_02 {

      
      font-size: 0.8em;
      padding-top: 10px;
      color: #b6c8df;

   }

   #pop_exit {

      clear: both;
      
      color: #fff;
      position: absolute;
      bottom: 30px;
      right: 20px;
      font-size: 1.5em;

   }






   .allmenu {

      
      background-color: rgba( 255, 255, 255, 0.5 );
      transition: 0.4s;
      color: #fff;
      

   }



   .submenu {

      list-style: none;
      float: right;
      margin: 10px;
      font-size: 0.9em;
      margin: 20px;
      


   }


   .submenu ul li {

      display: inline-block;
      margin: 0 5px;

   }



   .submenu ul li:last-child {

      padding-right: 20px;

   }

   .submenu a {

      text-decoration: none;
      color: #545454;


   }

   .submenu a:hover {

      text-decoration: underline;

   }

   .submenu_text {

      color: #000;

   }


   .menuzone {

      clear: both;
      position: relative;
      /*overflow: hidden;*/
      text-align: center;
      


   }


   .logo {

      float: left;
      background: url("img/tb_kor.png") no-repeat;
      background-size: cover;
      
      width: 137px;
      height: 49px;
      margin: 0 0 20px 30px;
      cursor: pointer;

   }


   .menu {

      float: right;
     

   }





   .menu ul li {


      list-style: none;
      display: inline-block;
      font-size: 1.2em;
      font-weight: 600;
      padding: 10px 30px 30px 30px;
      color: #000;
      



   }

   .menu ul li:nth-child(7) {

      padding: 10px 0 10px 250px;

   }


   .menu ul li:nth-child(8) {

      padding: 10px 50px;

   }

   .menu a {

      text-decoration: none;
      color: #000;
      
   }

   .menu li:hover {

      color: #0a4594;

   }

   [class^="menulist"] {


   		cursor: pointer;
   		padding: 20px 0;
   		/*border: 1px solid #000;*/

   }

 /*  .menuzone .menulist04:hover #menu04, #menu0004{

      display: block;

   }*/

   .menu form {

      border-radius: 100px / 75px;
      height: 40px;
      background: #e6ebf2;
      border: 1px solid #ccc;
      width: 200px;
      padding-left: 10px;

   }

   .menu input {

      border: 0;
      background: #e6ebf2;
      height: 35px;

   }

   .menu input:focus {

      outline: none;

   }

   .menu .fas {


      margin-left: -15px;
      margin-top: 10px;
      cursor: pointer;

   }

   [id^="menu"] {

   		display: none;
   		position: absolute;
   		width: 100%;
   		background: #fff;
   		top: 74px;
   		left: 0;
   		transition: 0.4s;
         z-index: 9998;
   		border-top: 1px solid #ccc;
   		/*box-shadow: 0 1px 2px 0 #ccc;*/


   }

   [id^="menu"] ul {

   		display: inline-block;
   		padding: 30px;


   }

   [id^="menu"] ul li {

   		list-style: none;
   		font-size: 0.9em;
   		display: block;
   		font-weight: 600;
   		margin-top: -10px;
   		margin-left: -30px;
   		padding: 8px 30px;
         text-align: left;



   }

   [id^="menu"] ul li a {

   		color: #939393;

   }

   [id^="menu"] ul li a:hover {

   		text-decoration: underline;

   }

  [id^="menu00"] {

   	float:left;
   	display: none;
   	color: #000;
   	text-align: right;
   	width: 610px;
   	padding: 80px 20px;
   	height: auto;
   	background: #ccc;
   	transition: 0.4s;
   	/*box-shadow: 0 1px 2px 0 #ccc;*/


   }



   [id^="menu00"] span {

   	font-size: 0.8em;


   }

   [id^="mainmenu"] {

   		float: left;
   		margin: 0 0 20px 20px;
   		height: auto;



   }

   [id^="mainmenu"] li {

   		display: block;

   }

   [id^="mainmenu"]:nth-child(6) {

   		clear: both;


   }

   .notboth {

   		clear: none;

   }

   [id^="mainmenu"] h5 a:hover {

   		color: #0a4594;

   }

   

    



   h5 {

   	font-size: 1.1em;
   	margin-bottom: 10px;
      text-align: left;


   
   }

   h6 {

   	font-size: 2em;
   	padding-bottom: 15px;

   }

   h6 span {

   	font-weight: 400;

   }

   #mainmenu0107 ul li:nth-child(7) {

      margin-left: -250px;

   }

   #mainmenu0202 ul li:nth-child(7) {

      margin-left: -250px;

   }

   #mainmenu0301 ul li:nth-child(7) {

      margin-left: -250px;

   }

   #mainmenu0301 ul li:nth-child(8) {

      margin-left: -50px;

   }

   #mainmenu0302 ul li:nth-child(7) {

      margin-left: -250px;

   }

   #mainmenu0302 ul li:nth-child(8) {

      margin-left: -50px;

   }

   #mainmenu0508 ul li:nth-child(7) {

      margin-left: -250px;

   }



   #menu01 {

   	
   	float: right;
   	left: 650px;
   	height: 550px;
   	transition: 0.05s;


   }

   #menu0001 {

   	height: 390px;
   	transition: 0.05s;


   }

    #menu02 {

   	
   	float: right;
   	left: 650px;
   	height: 460px;
      transition: 0.05s;


   }

   #menu0002 {

   	height: 300px;
      transition: 0.05s;


   }

   #menu03 {

   	
   	float: right;
   	left: 650px;
   	height: 550px;
      transition: 0.05s;


   }

   #menu0003 {

   	height: 390px;
      transition: 0.05s;


   }

    #menu04 {

   	
   	float: right;
   	left: 650px;
   	height: 260px;
      transition: 0.05s;


   }

   #menu0004 {

   	height: 100px;
      transition: 0.05s;


   }

    #menu05 {

   	
   	float: right;
   	left: 650px;
   	height: 460px;
      transition: 0.05s;


   }

   #menu0005 {

   	height: 300px;
      transition: 0.05s;


   }

    #menu06 {

   	
   	float: right;
   	left: 650px;
   	height: 370px;
      transition: 0.05s;


   }

   #menu0006 {

   	height: 210px;
      transition: 0.05s;


   }




   .menuzone .menu_effect {

      width: 60px;
      height: 5px;
      position: absolute;
      background: #0a4594;
      left: -20px;
      transition: 0.4s;
      top: 0;
      z-index: 9999;


   }

   .menuzone .menu ul li a:nth-child(2):hover ~ .menu_effect {

      left: 50%;
      top: 0;

   }

   .menuzone .menu ul li a:nth-child(3):hover ~ .menu_effect {

      left: 60%;
      top: 0;

   }

   .menuzone .menu ul li a:nth-child(4):hover ~ .menu_effect {

      left: 70%;
      top: 0;

   }

   .menuzone .menu ul li a:nth-child(5):hover ~ .menu_effect {

      left: 80%;
      top: 0;

   }

   .menuzone .menu ul li a:nth-child(6):hover ~ .menu_effect {

      left: 90%;
      top: 0;

   }

   .fix {

      position: fixed;
      top: 0;
      left: 0;
      z-index: 9999;
      background: #fff;
      width: 100%;
      box-shadow: 0 5px 2px -1px #ccc;
      background: rgba( 255, 255, 255, 0.95 );

   }


   .sitemap {

   		display: none;
   		background: #1959ae;
   		color: #fff;
   		width: 100%;
   		height: 100%;
   		opacity: 99%;
   		position: fixed;
   		top: 0;
   		left: 0;
   		z-index: 9999;
   		transition: 0.4s;

   		/*overscroll-behavior: none;*/
   			


   }

   .sitemap a {

   		text-decoration: none;


   }

   .sitemap hr {

   	background: #fff;
   	width: 100%;
   	clear: both;

   }

   #sitemap_head {

   	height: 200px;

   }



   .sitemap #exit {

   	float: right;

   }


   .sitemap #exit i {

   		font-size: 2em;
   		margin: 20px;

   }

   .sitemap #exit a {

   		color: #fff;

   }

    .sitemap_title {

    	clear: both;
    	font-size: 3em;
    	margin: 20px 0 20px 900px;
    	float: left;



    }


    .sitemap_frame {

    	position: fixed;
    	left: 20px;
    	width: 98%;
    	height: 75%;
    	border: 0;


    }

    #sitemap_open {

    	border: 1px solid #5b89c7;
    	padding: 20px 25px;
    	margin: 30px;
    	float: right;
    	font-size: 0.9em;
    	cursor: pointer;
    	transition: 0.4s;

    }

    #sitemap_open a {

    	color: #fff;


    }

    #sitemap_open:hover {

    	border: 1px solid #fff;

    }

.sub_header {

      clear: both;
      width: 100%;
      height: 350px;
      background: url("img/sub_header.jpg");
      background-size: 100%;
      position: relative;


   }


   .sub_text {

      position: absolute;
      top: 25%;
      left: 15%;
      line-height: 30px;

   }

   .sub_text_title {

      color: #fff;
      font-size: 2em;


   }

   #text_bold {
      
      font-weight: 600;

   }

   .sub_text_cap {

      font-size: 1em;
      color: #ccc;



   }


   #sub_menu {

      position: absolute;
      bottom: 0%;
      left: 14%;
      color: #fff;
      width: 84%;
      background: #1a5bb1;
      padding: 20px;

   }

   .sub_home {

      background: #3c73bd;
      padding: 20px;
      margin-left: -20px;
      cursor: pointer;


   }

   #sub_menu a {

      color: #fff;

   }

   .menu_tree {

      padding-left: 20px;

   }

   .menu_tree i {

      margin: 0 10px;
      color: #ccc;
      font-size: 1em;

   }

   .menu_tree a {

      color: #fff;
      text-decoration: none;
      font-size: 0.9em;

   }

   .menu_tree a:hover {

      text-decoration: underline;

   }
   


   section {

      /*overflow: hidden;*/
      margin: 50px 250px;
      padding: 0;
      height: 1500px;

   }

   #wrapper {
      
      clear: both;
      margin: 0 auto;
      padding: 0 auto;

   }



   #acmenu {

      float: left;
      width: 18%;
      margin-right: 20px;
   }


   #acmenu ul li {

      list-style: none;
      margin: 10px;
      padding-bottom: 30px;
      border-bottom: 1px solid #ccc;
      padding-left: 15px;
      cursor: pointer;
      




   }



  #acmenu ul li a {

      color: #000;

  }

  #acmenu ul li.subactive {

      border-bottom: 2px solid #1a5bb1;
      /*color: red;*/



  }

 


  /*#acmenu ul li:first-child {

   border-bottom: 3px solid #1a5bb1;

  }
*/


   h1 {

      font-size: 1em;
      font-weight: 600;
      float: left;

   }

   #acmenu ul li i {

      float: right;

   }

   #acmenu ul li:hover h1 {

      color: #3c73bd;

   }

   [id^="acmenu_sub"] {


      display: none;
      clear: both;

   }


   

   [id^="acmenu_sub"] ul li {

      list-style: square !important;
      border: none !important;
      padding: 0 0 2px 0 !important;
      margin-left: 50px !important;
      font-size: 0.8em;
      transition: 0.4s;
      





   }

   [id^="acmenu_sub"] ul li a {

      text-decoration: none;
      color: #000;


   }

   [id^="acmenu_sub"] ul li a:hover {

      color: #3c73bd !important;

   }


   


   #acmenu_sub01 {


      display: block;




   }


   #acmenu [id^="acmenu_sub"] ul li.subslide {


         display: block;

   }





   

   

   

  

   #content {

      float: left;
      width: 73%;
      margin-top: 15px;


   }

   .content_title {

      clear: both;
      border-bottom: 1px solid #ccc;
      height: 50px;

   }


   #content_txt {

       float: left;
   }

   h2 {


      font-size: 1.8em;
      
      

   }


   .content_btn {

      float: right;

   }

   .content_btn i {

      margin: 10px;
      font-size: 1.2em;
      color: #2180c4;
      cursor: pointer;

   }


   #content_data {

      clear: both;
      padding-top: 40px;
      font-size: 0.9em;
      line-height: 20px;

   }

   #content_table {

      margin-top: 50px;
      width: 500px;
      
      text-align: center;


   }

   #chart {

      border: 1px solid #ccc;
      width: 960px;
      border-collapse:collapse;
      


   }

   #chart tr {

     border-left: hidden;
     border-right: hidden;

   }

   #chart tr:first-child {

      border-top: 2px solid #1a5bb1;

   }

   #chart tr td {

      width: 450px;
      border: 1px solid #ccc;
      padding: 20px;




   }

   #chart tr td:first-child {

      background: #f0f3f8;

   }



   #up {

      clear: both;
      background: #333;
      position: fixed;
      opacity: 50%;
      color: #fff;
      border-radius: 75%;
      width: 60px;
      height: 60px;
      bottom: 30px;
      right: 50px;
      text-align: center;
      cursor: pointer;



   }


   #up .fas {

      padding-top: 20px;

   }

  #review {

   clear: both;
   border: 1px solid #ccc;
   margin-top: 50px;
   border-top-color: #000;
   

  }

  #review ul li {

   list-style: none;
   padding: 20px;

  }

  #review_data_01 {

      float: left;

  }

  #review_data_02 {

      float: right;

  }

  #review ul li:first-child span{

   margin-bottom: 20px;

  }

  #review ul li:last-child {

    background: #f0f3f8;
    clear: both;

  }

  #review_form ul li {

      list-style: none;
      display: inline-block;

  }


  #review_form .form01 {

      width: 300px;
      height: 30px;
      padding-left: 10px;
      color: #ccc;
      border: 1px solid #ccc;


  }

  #review_form .form02 {

   height: 30px;
   width: 65px;
   border: 0;
   color: #fff;
   background: #3c73bd;
   cursor: pointer;


  }


   footer {
      /*position: absolute;*/
      /*bottom: 0;*/ 
      /*float: left;*/
      clear: both;
      /*bottom: 0;*/
      /*left: 0;*/

      
      background: #111;
      color: #fff;
      width: 100%;
      height: 180px;



   }

   #footer_wrapper {

      width: 1500px;
      margin: 0 auto;
      position: relative;

   }

   .footer_menu {

      padding: 20px 10px;
      border-bottom: 1px solid #ccc;

   }

   .footer_menu ul li {


      list-style: none;
      display: inline-block;
      margin: 10px;
      font-weight: 600;
      font-size: 0.8em;

   }

   
   .footer_menu ul li a {

      text-decoration: none;
      color: #fff;

   }

   .footer_menu ul li:first-child a {

      color: #caa525;

   }

   .footer_menu ul li a:hover {

      text-decoration: underline;
   }

   #logo {

      float: left;
      background: url("img/logo_footer.png") no-repeat;
      width: 195px;
      height: 38px;
      background-size: cover;
      margin: 20px 0 0 20px;

   }



   address {

      float: left;
      font-style: normal;
      font-size: 0.9em;
      font-weight: 600;
      margin-left: 20px;
      margin-top: 20px;
      line-height: 23px;


   }

   .sns {

      float: right;
      margin: 20px;
      display: flex;

   }

   .sns img {

      
      margin-top: -10px;

   }

   #sns_link {

      width: 18px;
      height: 4px;
      padding: 5px;
      margin: -5px 5px 0;
      background: #fff;
      color: black;
      border-radius: 50%;

   }

   #family_list {

      float: right;
      border: 1px solid #fff;
      padding: 10px;
      font-weight: 600;
      width: 200px;

      margin-left: 10px;
      font-size: 0.8em;
      cursor: pointer;
      position: relative;
   }

   #family_list span {

      float: left;
   }

   #family_list i {

      float: right;
      font-size: 1.8em;
      color: #ccc;
   }

   #family_list ul li {

      list-style: none;
      background: #3d3d3d;
      border: 1px solid #ccc;
      padding: 7px 10px;
      transition: 0.4s;


   }



   #family_list dl {

      line-height: 27px;


   }

   #family_list a {

      color: #ccc;
      text-decoration: none;

   }
   dt {
      position: relative;
   }
   #family_list dl dt a {

      display: block;


   }

   #family_list dl dt i {

      transition: 0.4s;


   }

   #family_list dl dt.open i {

      transform: rotate(180deg);

   }

   #family_list dl dd {

      position: absolute;
      left: -1px;
      bottom: 45px;
      margin: 0;
      padding: 0;
      width: 222px;
      display: none;
      font-size: 1.1em;
      z-index: 9999;




   }

   #family_list dl dd li:first-child {

      border-top: none;

   }

   #family_list dl dd li:hover {

      background: #242424;
   }

   #family_list dl dd.liston {

      display: block;
      

   }

   


/*
   #family_list ul li {

      display: none;
      list-style: none;
      color: #fff;
      background: #737573;
      width: 200px;
      height: 50px;
      position: absolute;
      top: 0;

   }
*/

   